body
{
  font-family:'Open Sans', sans-serif;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
.list
{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
width: 1366px;
justify-content: center;
}

.pics
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 80px;
  padding-right: 20px;
  width: 1366px;
  justify-content: center;
}
img
{
  margin-left: auto;
  margin-right: auto;
  height: 399px;
  width: 600px;
  justify-content: center;
}
.player
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  justify-content: center;
}
.contacts
{
  width: 150px;
}
h1
{
  color: #0b4dc7;
}
a:active
{
  color: #0bc7c5;
}
li
{
  margin-bottom: 10px;
}
table
{
  border-collapse: collapse;
  border-color: black;
  border: 1px solid black;
}
td,th
{
  text-align: center;
  padding: 3px;
  border: 1px solid black;
  padding: 10px;
}
.basement
{
  display: inline-block;
  justify-content: center;
}
